﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SASA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                
                      @if (this.User.IsInRole("Admin"))
                      {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones Admin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Modelos", "Index", "Modelos")</li>
                                <li>@Html.ActionLink("Matriculas", "Index", "Matriculas")</li>
                                <li> @Html.ActionLink("Tipo de Usuario","Index", "TipoUsuarios") </li>
                                <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                <li>@Html.ActionLink("Compañias", "Index", "Companias")</li>
                                <li>@Html.ActionLink("Contratos", "Index", "Contratos")</li>
                            </ul>
                        </li>
                      }
                    @if (this.User.IsInRole("User"))
                    {
                                    <li>@Html.ActionLink("Mi Perfil", "MiPerfil", "Usuarios")</li>
                        <li>@Html.ActionLink("Mis Oed. Serv.", "MisOrdenes", "Usuarios")</li>
                        <li>@Html.ActionLink("Mis Vuelos", "MisVuelos", "Usuarios")</li>
                    }

                 </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
