﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>SASA</h1>
            <p class="lead">Sistema de Administracion de Servicios Aereos.</p>
            @if (!this.User.IsInRole("Admin") && !this.User.IsInRole("User"))
            {
                <p class="lead">
                    Para usar el sistema debe iniciar sesion con su E-mail y su password,
                    si es su primera vez, registrese en el sistema.
                </p>
            }
        </div>
        <div class="col-md-4">
            <img src="~/Content/Imagenes/HPM1.jpg" style="width:300px;height:300px;max-width:300px;height:auto;"/>
        </div>
    </div>
</div>

        <div class="row">
            <div class="col-md-4">
                <h2>Mi perfil</h2>
                <p>
                    Cambiar los datos personales de usuario y password.
                </p>
                @Html.ActionLink("Mi Perfil", "MiPerfil", "Usuarios", new { }, new { @class = "btn btn-primary" })
                <img src="~/Content/Imagenes/Perfil.jpg" style="width:300px;height:100px;max-width:100px;height:auto;" />
            </div>
            <div class="col-md-4">
                <h2>Mis Ordenes de Servicio</h2>
                <p>Ordenes de servicio que incluyen al usuario.</p>
                @Html.ActionLink("Mis Ord. Serv.", "MisOrdenes", "Usuarios", new { }, new { @class = "btn btn-warning" })
                <img src="~/Content/Imagenes/Orden.jpg" style="width:300px;height:100px;max-width:100px;height:auto;" />
          </div>
            <div class="col-md-4">
                <h2>Mis Vuelos</h2>
                <p>Vuelos programados que incluyen al usuario.</p>
                @Html.ActionLink("Mis Vuelos", "MisVuelos", "Usuarios", new { }, new { @class = "btn btn-info" })
                <img src="~/Content/Imagenes/Vuelos.jpg" style="width:300px;height:100px;max-width:100px;height:auto;" />
            </div>
        </div>
