﻿@model SolVueWeb.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ficha)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependenciaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependenciaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Foto))
            {
                <img src="@Url.Content(Model.Foto)" alt="Image" style="width:300px;height:300px;max-width:300px;height:auto;" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsuarioId },new {@class="btn btn-primary" })
    @Html.ActionLink("Back to List", "Index",new { }, new { @class = "btn btn-success" })
</p>
