﻿@model IEnumerable<SolVueWeb.Models.UsuarioIndexView >

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Ficha)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependenciaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.EsAdmin)
        </th>
       <th>
             @Html.DisplayNameFor(model => model.Foto)
        </th>
     <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuario)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Ficha)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependenciaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.EsAdmin)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Foto))
            {
                <img src="@Url.Content(item.Foto)" alt="Imagenes de SSG" style="width:200px;height:200px;max-width:300px;height:auto;" />
            }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioId }) |
            @Html.ActionLink("On/Off Admin", "OnOffAdmin", new { id = item.UsuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UsuarioId })
        </td>
    </tr>
}

</table>
