﻿@model IEnumerable<SolVueWeb.Models.Compania >


@{
    ViewBag.Title = "Compañias";
}

<h2>Compañias</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", new { }, new { @class = "btn btn-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Siglas )
        </th>
         <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siglas )
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CompaniaId  }) 
                @Html.ActionLink("Detalles", "Details", new { id = item.CompaniaId }) 
                @Html.ActionLink("Borrar", "Delete", new { id = item.CompaniaId })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Pagina de Inicio", "Index", "Home", new { }, new { @class = "btn btn-success" })
</div>