﻿@model SolVueWeb.Models.TipoUsuario

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="form-horizontal">
        <h4>Tipo de Usuario </h4>
        <hr />
        @Html.ValidationSummary(true, "",new {@class="text-danger"} )
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion,htmlAttributes:new {@class="control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor(model=>model.Descripcion, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor(model=>model.Descripcion, "", new {@class="text-danger"} )
            </div>
        </div>
        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
        </div>

    </div>
}
<div>
    @Html.ActionLink("Regresar a pagina anterior","Index")
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
