﻿@model SolVueWeb.Models.TipoUsuario
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4> Tipo de Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(tipoUsuario=>tipoUsuario.TipoUsuarioId )

        <div class="form-group">
            @Html.LabelFor(tU => tU.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(tU => tU.Descripcion,new { htmlAttributes =new {@class="form-control"} } )
                @Html.ValidationMessageFor(tU => tU.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>



    </div>
    <div>
        @Html.ActionLink("Regresar a listado", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
