﻿@model IEnumerable<SolVueWeb.Models.TipoUsuario >
@{
    ViewBag.Title = "Index";
}

<h2>Tipo de Usuario</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Crear", new { }, new {@class="btn btn-warning" } )
</p>

<table border=1 width=50%>
    <tr>
        <th colspan=2>
            @Html.DisplayNameFor(model=> model.Descripcion )
        </th>
   </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=> item.Descripcion )
            </td>
 
            <td>
                @Html.ActionLink("Editar", "Editar", new {id=item.TipoUsuarioId },new {@clas="btn btn-primary"} )
                @Html.ActionLink("Detalle", "Detalle", new { id = item.TipoUsuarioId }, new { @clas = "btn btn-guarning" })
                @Html.ActionLink("Borrar", "Borrar", new { id = item.TipoUsuarioId }, new { @clas = "btn btn-danger" })
          </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Ir a pagina de Inicio", "Index", "Home", new { }, new {@class="btn btn-succsess"} )
</div>
