﻿@model SolVueWeb.Models.ModeloDetalleView

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>@string.Format("Modelo:     {0}", Model.Nombre )</h4>
    @*<h5>@Model.Nombre</h5>*@

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>*@
</div>

<h5>Matriculas:</h5>

@if(Model.Matriculas.Count==0)
{
   <h4>No hay matriculas registardas para este modelo</h4>
}
else
{
    <table class="table">
        <tr>
             <th>
                @Html.DisplayNameFor(model => Model.Matriculas[0].Siglas )
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Matriculas[0].Serie )
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Matriculas[0].AnioFabricacion )
            </th>
              <th>
                @Html.DisplayNameFor(model => Model.Matriculas[0].Capacidad )
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Matriculas[0].Imagen )
            </th>
            <th></th>
        </tr>

        @if (@TempData["Correcto"] != null)
        {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>¡Ok!</h4>
            @TempData["Correcto"]
        </div>
        }



        @for (int i=0; i<Model.Matriculas.Count;i++ )
        {
            <tr>
               <td>
                    @Html.DisplayFor(modelItem => Model.Matriculas[i].Siglas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Matriculas[i].Serie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Matriculas[i].AnioFabricacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Matriculas[i].Capacidad)
                </td>
                 <td>
                    @if (!string.IsNullOrEmpty(Model.Matriculas[i].Imagen))
                    {
                        <img src="@Url.Content( Model.Matriculas[i].Imagen)" alt="Image" style="width:100px;height:100px;max-width:100%;height:auto;" />
                    }
                </td>
                <td>
                   @Html.ActionLink("Reasignar", "ReasignarMatricula", new { id = Model.Matriculas[i].MatriculaId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
 
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ModeloId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Agregar Matricula", "AddMatricula", new { modeloId = Model.ModeloId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
    </p>

}