﻿@model IEnumerable<SolVueWeb.Models.Modelo>

@{
    ViewBag.Title = "Index";
}

<h2>Modelos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", new { }, new { @class = "btn btn-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModeloId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModeloId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModeloId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Pagina de Inicio","Index", "Home", new { }, new {@class="btn btn-success" })
</div>
