﻿@model SolVueWeb.Models.MatricReasignaView


@{
    ViewBag.Title = "Reasignar Modelo";
}

<h2>Reasignar Modelo</h2>
@using (Html.BeginForm("ReasignarMatricula", "Modelos", FormMethod.Post,  new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
 
    <div class="form-horizontal">
        <h3>@string.Format("Matricula: {0}", ViewBag.siglas) </h3>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MatriculaId)
        @Html.HiddenFor(model => model.Siglas )
        @*@Html.HiddenFor(model => model.ModeloId )*@


        <div class="form-group">
            @Html.LabelFor(model => model.ModeloId, "Modelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("MdloId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("ModeloId",ViewBag.MdloId as SelectList )
                @Html.ValidationMessageFor(model => model.ModeloId, "", new { @class = "text-danger" })
            </div>
        </div>

 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reasignarar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Detalles", string.Format("Details/{0}",Model.ModeloId),new { @class = "btn btn-success" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
