﻿@model IEnumerable<SolVueWeb.Models.Matricula>

@{
    ViewBag.Title = "Index";
}

<h2>Matrículas</h2>


<p>
    @Html.ActionLink("Crear Nuevo", "Create",new { }, new { @class = "btn btn-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Siglas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioFabricacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poseedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certificado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Siglas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnioFabricacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poseedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certificado)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Imagen))
            {
                <img src="@Url.Content(item.Imagen)" alt="Image" style="width:100px;height:100px;max-width:100%;height:auto;" />
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.MatriculaId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.MatriculaId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.MatriculaId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Pagina de Inicio", "Index", "Home", new { }, new { @class = "btn btn-success" })
</div>
